<%- include("partials/header") -%>

  <section id="error">
    <div class="p-5 mb-4 rounded-3 text-white text-start">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Uh! Oh!</h1>
        <p class="col-md-8 fs-4">
          Something went wrong! Try to search for another movie/serie or you can return to the homepage
          pressing the button bellow!
        </p>
        <a href="/" class="btn btn-color btn-lg" type="button">Return to Home</a>
      </div>
    </div>
  </section>

<%- include("partials/footer") -%>
