/* #dbdbdb */

:root {
  --nav-height: 130px;
}

header {
  background-color: #0d253f;
}

input[type='text'] {
  color: #0d253f;
}

input[type='text']::placeholder {
  color: #0d253f;
}

.btn {
  background: linear-gradient(
    to right,
    rgba(30, 213, 169, 1) 0%,
    rgba(1, 180, 228, 1) 100%
  );

  color: #0d253f;
}

#header {
  padding-top: var(--nav-height);
}
